@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <300>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://img.goodfon.com/wallpaper/big/6/b6/fraktaly-kompiuternaia-grafika-vodovorot-svechenie-fractals.webp") center;
}

.wrapper{
    width: 420px;
    background-color: transparent;
    color: antiquewhite;
    border-radius: 10px;
    backface-visibility: 50%;
    border-color: #fff;
    border: 1px solid;
}

.wrapper h1{
    font-size: 36px;
    text-align: center
}

.wrapper .input-box{
    position: relative;
    width: 100;
    height: 50px;
    margin: 300px, 0;
}

.input-box input{
    width: 99%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px, 45px, 20px, 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 15px, 0, 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
    display: inline-block;
    margin-right: 20px

}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
   
}
.remember-forgot a :hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-size: 600;
}

.wrapper register-link{
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a{
    background-color: #fff;
}
